name: "ssldm_coarse"

# Data settings
image_size: 128
resize_size: [128, 128, 128]
img_resize_size: [128, 128]
data_path: "/root/data1/CTSpine1K/mid_h5_new"
dataroot: "/root/data1/CTSpine1K/mid_h5_new"
CT_MEAN_STD: [0.0, 1.0]
XRAY1_MEAN_STD: [0.0, 1.0]
XRAY2_MEAN_STD: [0.0, 1.0]
XRAY1_MIN_MAX: [0, 255]
XRAY2_MIN_MAX: [0, 255]
CT_MIN_MAX: [-500, 2000]
DATA_MIN_MAX: [0, 4095]
fine_size: 128
fine_size_cond: 128
ct_channel: 128
xray_channel: 1
cond_flag: "coarse"

train_datasetfile: "./data/train.txt"
val_datasetfile: "./data/test.txt"

output_dir: "./logs/${config.name}"

latent_diffusion:
  base_learning_rate: 5.0e-5
  linear_start: 0.0015
  linear_end: 0.0155
  num_timesteps_cond: 1
  high_low_mode: False
  cond_nums: [1, 2]
  batch_size: ${config.batch_size}
  dpm_type: "dpm-solver"

  log_every_t: 200
  timesteps: 1000
  loss_type: l1
  first_stage_key: "image"
  cond_stage_key: "image"
  image_size: 16
  channels: 4

  cond_stage_trainable: False
  concat_mode: True
  scale_by_std: True
  monitor: "val/ssim"

  first_stage_config:
    fine_size: 128
    fine_size_cond: 128
    ct_channel: 128
    xray_channel: 1
    cond_nums: [1, 2]
    cond_type: "fused"

    voxel_loss: "l1"
    weight_temperature: 1.0
    weight_smooth_ratio: 0.0
    weight_sparse_ratio: 1.0e-3
    coarse_model:
      base_channels: 32
      fusion_channels: 128
      volume_channels: 128
      depth_bins: 16

    ae_ckpt: "/root/data1/CLS-DM-50D6/logs/autoencoder/pl_train_autoencoder-2026-02-16/22-05-53/latest.ckpt"
    coarsecond_ckpt: "/root/data1/CLS-DM-50D6/logs/coarsecond/pl_train_coarsecond-2026-02-20/16-17-40/latest.ckpt"

    model:
      base_learning_rate: 3.0e-5
      sync_dist: True
      monitor: "val/loss_ema"
      embed_dim: 4
      ddconfig:
        double_z: True
        z_channels: 4
        resolution: 128
        in_channels: 1
        out_ch: 1
        ch: 32
        ch_mult: [1, 2, 4, 4]
        num_res_blocks: 2
        attn_resolutions: []
        dropout: 0.0
      lossconfig:
        disc_start: 10000
        kl_weight: 1.0e-4
        disc_weight: 0.5
        highlow_weight: 0
        high_limit: 0.04
        low_limit: 0.04
        disc_in_channels: 1
        perceptual_weight: 0

  unet_config:
    dims: 3
    image_size: 16
    in_channels: 8
    out_channels: 4
    model_channels: 32
    attention_resolutions: [1, 2, 4, 8]
    num_res_blocks: 2
    channel_mult: [1, 2, 3, 4]
    num_heads: 8
    use_spatial_transformer: False
    use_scale_shift_norm: True
    resblock_updown: True
    use_fp16: True
    transformer_depth: 1
    use_checkpoint: true
    legacy: False

  scheduler_config:
    interval: "epoch"
    step_size: 200
    gamma: 0.8

trainer:
  benchmark: True
  accumulate_grad_batches: 4
  devices: [2]
  accelerator: "auto"
  max_epochs: 1000
  precision: "bf16-mixed"
  check_val_every_n_epoch: 10
